body {
	font-family: Absara, sans-serif;
	font-weight: 100;
	letter-spacing: 1.3px;
	background-image: url(./images/canning.png);
	background-size: 1500px;
}

div {
	display: block; 
}

.logo-titre {
	margin-bottom: 50px;
}

.title-signup{
	padding: 0px 10%;
}

.title-profile{
	padding: 0px 26%;
}


.signin-card {
	border:1px solid black;
	width: 300px;
	margin: 50px auto;
	padding: 50px 75px;
	background-color: rgba(255,255,255,0.70);
}

.signup-card {
	border:1px solid black;
	width: 300px;
	margin: 50px auto;
	padding: 50px 75px;
	background-color: rgba(255,255,255,0.70);
}

.profile-card {
	border:1px solid black;
	width: 300px;
	margin: 50px auto;
	padding: 50px 75px;
	background-color: rgba(255,255,255,0.70);
}

.center {
	width: 400px;
	margin: 20px 0px;
	font-size: 0.5em;
}


label {
    width: 95px !important;
}

.

.item-1 {
	margin-right: 5px;
}
.item-2 {
	margin-right: 5px;
	margin-left: 5px;
}
.item-3 {
	margin-left: 5px;
}

h1 {
	width: 20 px;
	margin: 0px auto; 
	font-weight: 100;
}

h2 {
	width: 20 px;
	margin: 0px auto; 
	font-weight: 100;
}

.float-logo{
	float:right;
	padding: 63px 85px 0px 0px;
}


.yellow{
	color:#fff87e;
	text-shadow: 0 0 2px black;
	letter-spacing: 1.75px;
}

a{
	color:black;
	text-decoration: none;
	padding-left: 98px;
	font-size: 0.75em;
}

a:hover{
	color:#fff87e;
	text-decoration: none;
}

.bulle{
	width: 296px;
	height: 36px;
	font-weight: 100;
	text-align:center;
	font-family:inherit;
	letter-spacing: inherit;
}

.lwidth {
	width: 300px;
	padding: 0px auto;
	display:block;
}

.logo {
	width: 100px;
	height: 100px;
}

::-webkit-input-placeholder {
	font-family: Absara, sans-serif;
	color: #cfcfcf;
	letter-spacing: 1.3px;
}



/*form {
	width: 20 px;
	margin: 50px auto; 
	padding: 0 15%;
}*/


button{
	font-family: inherit; 
	letter-spacing: inherit;
	background-color: #fff87e;
	width:302px;
	height:40px;
    border:1px solid grey;
    padding:0px;
}


label {
  display: inline-block;
  width: 100px;
}